* {
    margin: 0;
}

#controlsforbt {
    width: 100%;
    display: block;
    height: auto;
    padding: 3%;
    color: #FFF;
    box-sizing: border-box;
    transition: 0.2s all ease-in-out;
    background-color: rgba(0, 0, 0, 0.9);
}

input[type=number] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.2em;
    margin: 0%;
    outline: none;
    border-radius: 10px;
    border: 2px solid #cc13ff88;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

input[type=number]:focus {
    border: 2px solid #cc13ffff;
    box-shadow: 0 0 0 .1rem #cc13ff88;
}

.buttonGroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
}

.buttons {
    outline: none;
    border: 1px solid #cc13ffff;
    background-color: #FFFFFF00;
    color: #FFFFFFAA;
    margin-top: 10px;
    font-size: 0.9em;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    transition: 0.2s ease-in-out;
    border-radius: 3px;
}

.buttons:active {
    box-shadow: 0 0 0 0.2rem #cc13ffff;
    background-color: #cc13ffff;
    color: white;
}

.treeContainerContainer {
    width: 100%;
    height: 100vh;
}

#treeContainer {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #E2E2E2;
}

.node {
    display: block;
    animation: circleFade 0s ease-in-out backwards; 
}

@keyframes circleFade {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

pre {
    color: #000;
    page-break-inside: avoid;
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    border-radius: 10px;
    overflow: scroll;
    padding: 1em 1.5em;
    display: block;
    max-height: 250px;
    word-wrap: break-word;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #cc13ffff;
}

.tab {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 10px 10px 0 0;
}

.tab button {
  background-color: inherit;
  border: none;
  width: 100%;
  outline: none;
  padding: 14px 16px;
  transition: 0.3s;
} 

.tab button:hover {
  background-color: #ddd;
} 

.tab button.active {
  background-color: #ccc;
} 

.codeContainer {
    width: auto;
    display: none;
    margin: 0px;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    background-color: #E2E2E2;
}

.tabContainer {
    margin: 10px;
    width: auto;
}
