* {
    margin: 0;
}

#controlsforll {
    width: 100%;
    display: block;
    height: auto;
    padding: 3%;
    color: #FFF;
    box-sizing: border-box;
    transition: 0.2s all ease-in-out;
    background-color: rgba(0, 0, 0, 0.9);
}

input[type=number] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.2em;
    margin: 0%;
    outline: none;
    border-radius: 10px;
    border: 2px solid #cc13ff88;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

input[type=number]:focus {
    border: 2px solid #cc13ffff;
    box-shadow: 0 0 0 .1rem #cc13ff88;
}

.buttonGroupll {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
}

.buttonsll {
    outline: none;
    border: 1px solid #cc13ffff;
    background-color: #FFFFFF00;
    color: #FFFFFFAA;
    margin-top: 10px;
    font-size: 0.9em;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    transition: 0.2s ease-in-out;
    border-radius: 3px;
}

.buttonsll:active {
    box-shadow: 0 0 0 0.2rem #cc13ffff;
    background-color: #cc13ffff;
    color: white;
}

#list {
    width: 95%;
    padding-left: 5%;
    margin: 2.5%;
    box-sizing: border-box; 
    display: flex;
    background-color: #E2E2E2;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

::webkit-scrollbar {
    height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #4d4de0; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #7e7eed;
}

#list {
    scrollbar-color: #7474fd rgb(202, 190, 255);
    scrollbar-width: thin;
}

#list > div{
    display: inline-block;
    flex: 0 0 auto;
    margin: 10px;
    vertical-align: top;
}

.node{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #cc13ffff;
    text-align: center;
    color: #fff;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes highlightNode {
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes moveRightNode{
    50%{
        transform: translateX(250%);
    }
    100%{
        transform: translateX(200%);

    }
}